*.json
/ner-train.json
/ner-test.json
/ner-validation.json


/ner-wroc-19-train.json
/ner-wroc-19-validation.json
/ner-wroc-19-test.json
/ner-wroc-train.json
/ner-wroc-validation.json
/ner-wroc-test.json