stop_words.txt
stop_words.py
NKJP_1.2_nltk_converted
pos.json
nkjp2us.json
NKJP_1.2_nltk.zip
NKJP_1.2_nltk
vectors_300.txt
vocab.jsonl
/vocab.jsonl
/vectors_300.txt
tagmap.py
NKJP-PodkorpusMilionowy-1.2
/NKJP_1.2_nltk.zip
/NKJP_1.2_nltk
/kpwr-1.1
